<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert user</title>
</head>
<body>
    <h1> a. Insertion form</h1>
    <h4>Create a new user</h4>
    <form action="/insert_user" method="POST">
        <label for = "first_name">First Name:</label>
        <br>
        <input name="name" id="first_name">
        <br>
         <label for = "last_name">Last Name:</label>
        <br>
        <input name="lastname" id="last_name">
        <br>
        <label for="email">Email:</label>
        <br>
        <input name="email" type="email" id="email">
        <br>
        <label for="pass">Password:</label>
        <br>
        <input name="password" type="password" id="pass">
        <br>
        <br>
        <input type="Submit">

    </form>

</body>
</html>